body {
  font-family: "Apercu";
  -webkit-font-smoothing: antialiased;
}

.image-comparison {
  height: 16rem;
  width: 16rem;
}

@media (min-width: 40em) {
  .image-comparison {
    height: 24rem;
    width: 24rem;
  }
}

html {
  scroll-behavior: smooth;
}