/* Fonts */

@font-face {
  font-family: "Apercu";
  src: url("../assets/fonts/Apercu.otf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
}

@font-face {
  font-family: "Apercu";
  src: url("../assets/fonts/Apercu-Medium.otf") format("truetype"); /* Safari, Android, iOS */
  font-weight: medium;
}

@font-face {
  font-family: "Apercu";
  src: url("../assets/fonts/Apercu-MediumItalic.otf") format("truetype"); /* Safari, Android, iOS */
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: "Apercu";
  src: url("../assets/fonts/Apercu-Italic.otf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Apercu Mono";
  src: url("../assets/fonts/Apercu-Mono.otf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
}

@font-face {
  font-family: "ITC Franklin Gothic";
  src: url("../assets/fonts/ITCFranklinGothicStd-Hvy.otf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
}

@font-face {
  font-family: "Separat";
  src: url("../assets/fonts/Separat-Regular.otf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
}

@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/Calibre-Regular.otf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
}

@font-face {
  font-family: "Calibre-Medium";
  src: url("../assets/fonts/calibre-medium-webfont.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
}

@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/Calibre-Semibold.otf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
}

@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/Calibre-Bold.otf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
}

.apercu {
  font-family: "Apercu";
}

.separat {
  font-family: "Separat";
}

.calibre {
  font-family: "Calibre";
}

.calibreMedium {
  font-family: "Calibre-Medium";
}

.mono {
  font-family: "Apercu Mono";
}

.franklin {
  font-family: "ITC Franklin Gothic";
}

.headline {
  line-height: var(--line-height-headline);
  font-size: var(--font-size-headline);
}

.subheadline {
  line-height: var(--line-height-subheadline);
  font-size: var(--font-size-subheadline);
}

.font-1 {
  line-height: var(--line-height-1);
  font-size: var(--font-size-1);
}

.font-2 {
  line-height: var(--line-height-2);
  font-size: var(--font-size-2);
}

.font-3 {
  line-height: var(--line-height-3);
  font-size: var(--font-size-3);
}

.font-4 {
  line-height: var(--line-height-4);
  font-size: var(--font-size-4);
}

.font-5 {
  line-height: var(--line-height-5);
  font-size: var(--font-size-5);
}

.font-6 {
  line-height: var(--line-height-6);
  font-size: var(--font-size-6);
}

.font-7 {
  line-height: var(--line-height-7);
  font-size: var(--font-size-7);
}

.font-footer {
  line-height: var(--line-height-footer);
  font-size: var(--font-size-footer);
}

@media (--breakpoint-not-small) {
  .apercu-ns {
    font-family: "Apercu";
  }

  .separat-ns {
    font-family: "Separat";
  }

  .calibre-ns {
    font-family: "Calibre";
  }

  .mono-ns {
    font-family: "Apercu Mono";
  }

  .franklin-ns {
    font-family: "ITC Franklin Gothic";
  }

  .headline-ns {
    line-height: var(--line-height-headline);
    font-size: var(--font-size-headline);
  }

  .subheadline-ns {
    line-height: var(--line-height-subheadline);
    font-size: var(--font-size-subheadline);
  }

  .font-1-ns {
    line-height: var(--line-height-1);
    font-size: var(--font-size-1);
  }

  .font-2-ns {
    line-height: var(--line-height-2);
    font-size: var(--font-size-2);
  }

  .font-3-ns {
    line-height: var(--line-height-3);
    font-size: var(--font-size-3);
  }

  .font-4-ns {
    line-height: var(--line-height-4);
    font-size: var(--font-size-4);
  }

  .font-5-ns {
    line-height: var(--line-height-5);
    font-size: var(--font-size-5);
  }

  .font-6-ns {
    line-height: var(--line-height-6);
    font-size: var(--font-size-6);
  }

  .font-7-ns {
    line-height: var(--line-height-7);
    font-size: var(--font-size-7);
  }

  .font-footer-ns {
    line-height: var(--line-height-footer);
    font-size: var(--font-size-footer);
  }
}

@media (--breakpoint-medium) {
  .headline-m {
    line-height: var(--line-height-headline);
    font-size: var(--font-size-headline);
  }

  .lilheadline-m {
    line-height: var(--line-height-lilheadline);
    font-size: var(--font-size-lilheadline);
    letter-spacing: 9px;
  }

  .subheadline-m {
    line-height: var(--line-height-subheadline);
    font-size: var(--font-size-subheadline);
  }

  .font-1-m {
    line-height: var(--line-height-1);
    font-size: var(--font-size-1);
  }

  .font-2-m {
    line-height: var(--line-height-2);
    font-size: var(--font-size-2);
  }

  .font-2d5-m {
    line-height: 48px;
    font-size: var(--font-size-2);
    letter-spacing: 3.44px;
  }

  .font-3-m {
    line-height: var(--line-height-3);
    font-size: var(--font-size-3);
  }

  .font-4-m {
    line-height: var(--line-height-4);
    font-size: var(--font-size-4);
  }

  .font-5-m {
    line-height: var(--line-height-5);
    font-size: var(--font-size-5);
  }

  .font-6-m {
    line-height: var(--line-height-6);
    font-size: var(--font-size-6);
  }

  .font-7-m {
    line-height: var(--line-height-7);
    font-size: var(--font-size-7);
  }

  .font-footer-m {
    line-height: var(--line-height-footer);
    font-size: var(--font-size-footer);
  }
}

@media (--breakpoint-large) {
  .headline-l {
    line-height: var(--line-height-headline);
    font-size: var(--font-size-headline);
  }

  .subheadline-l {
    line-height: var(--line-height-subheadline);
    font-size: var(--font-size-subheadline);
  }

  .font-1-l {
    line-height: var(--line-height-1);
    font-size: var(--font-size-1);
  }

  .font-2-l {
    line-height: var(--line-height-2);
    font-size: var(--font-size-2);
  }

  .font-2d5-l {
    line-height: 48px;
    font-size: var(--font-size-2);
    letter-spacing: 3.44px;
  }

  .font-3-l {
    line-height: var(--line-height-3);
    font-size: var(--font-size-3);
  }

  .font-4-l {
    line-height: var(--line-height-4);
    font-size: var(--font-size-4);
  }

  .font-5-l {
    line-height: var(--line-height-5);
    font-size: var(--font-size-5);
  }

  .font-6-l {
    line-height: var(--line-height-6);
    font-size: var(--font-size-6);
  }

  .font-7-l {
    line-height: var(--line-height-7);
    font-size: var(--font-size-7);
  }

  .font-footer-l {
    line-height: var(--line-height-footer);
    font-size: var(--font-size-footer);
  }
}
